<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.food_demo.module.mapper.FoodMapper">

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="org.example.food_demo.module.entity.Food">
        insert into food(
                        <if test=" food.name  != null and food.name != ''"> `name` ,</if>
                        <if test=" food.foodPhotos  != null and food.foodPhotos != ''"> `food_photos` ,</if>
                        <if test=" food.foodIntroduce  != null and food.foodIntroduce != ''"> `food_introduce` ,</if>
                        <if test=" food.viewCount  != null"> `view_count` ,</if>
                        <if test=" food.createTime  != null"> `create_time` ,</if>
                        <if test=" food.updateTime  != null"> `update_time` ,</if>
                        <if test=" food.categoryId  != null"> `category_id` ,</if>
                    is_deleted 
        )values(
                        <if test="food.name != null and food.name!= ''">#{food.name},</if>
                        <if test="food.foodPhotos != null and food.foodPhotos!= ''">#{food.foodPhotos},</if>
                        <if test="food.foodIntroduce != null and food.foodIntroduce!= ''">#{food.foodIntroduce},</if>
                        <if test="food.viewCount != null">#{viewCount},</if>
                        <if test="food.createTime != null">#{createTime},</if>
                        <if test="food.updateTime != null">#{updateTime},</if>
                        <if test="food.categoryId != null">#{categoryId},</if>
                    #{isDeleted} 
        )
    </insert>


    <update id="update" parameterType="org.example.food_demo.module.entity.Food">
        UPDATE food
        <set>
                    `id` = #{food.id},
                        <if test="food.name != null and food.name != ''">
                            `name` = #{ food.name },
                        </if>
                        <if test="food.foodPhotos != null and food.foodPhotos != ''">
                            `food_photos` = #{ food.foodPhotos },
                        </if>
                        <if test="food.foodIntroduce != null and food.foodIntroduce != ''">
                            `food_introduce` = #{ food.foodIntroduce },
                        </if>
                        <if test="food.viewCount != null">
                            `view_count` = #{ food.viewCount },
                        </if>
                        <if test="food.createTime != null">
                            `create_time` = #{ food.createTime },
                        </if>
                        <if test="food.updateTime != null">
                            `update_time` = #{ food.updateTime },
                        </if>
                        <if test="food.categoryId != null">
                            `category_id` = #{ food.categoryId },
                        </if>
                        <if test="food.isDeleted != null">
                            `is_deleted` = #{ food.isDeleted },
                        </if>
        </set>
        WHERE `id` = #{food.id}
    </update>

</mapper>
