<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.food_demo.module.mapper.FoodMapper">

    <insert id="insert"
            useGeneratedKeys="true"
            keyProperty="id"
            parameterType="org.example.food_demo.module.entity.Food">
        insert into food(
                        <if test=" name  != null and name != ''"> `name` ,</if>
                        <if test=" foodPhotos  != null and foodPhotos != ''"> `food_photos` ,</if>
                        <if test=" foodIntroduce  != null and foodIntroduce != ''"> `food_introduce` ,</if>
                        <if test=" viewCount  != null"> `view_count` ,</if>
                        <if test=" createTime  != null"> `create_time` ,</if>
                        <if test=" updateTime  != null"> `update_time` ,</if>
                    is_deleted ,
                        <if test=" categoryId  != null"> `category_id` </if>
        )values(
                        <if test="name != null and name!= ''">#{name},</if>
                        <if test="foodPhotos != null and foodPhotos!= ''">#{foodPhotos},</if>
                        <if test="foodIntroduce != null and foodIntroduce!= ''">#{foodIntroduce},</if>
                        <if test="viewCount != null">#{viewCount},</if>
                        <if test="createTime != null">#{createTime},</if>
                        <if test="updateTime != null">#{updateTime},</if>
                    #{isDeleted} ,
                        <if test="categoryId != null">#{categoryId}</if>
        )
    </insert>


    <update id="update" parameterType="org.example.food_demo.module.entity.Food">
        UPDATE food
        <set>
                    `food_id` = #{foodId},
                        <if test="name != null and name != ''">
                            `name` = #{ name },
                        </if>
                        <if test="foodPhotos != null and foodPhotos != ''">
                            `food_photos` = #{ foodPhotos },
                        </if>
                        <if test="foodIntroduce != null and foodIntroduce != ''">
                            `food_introduce` = #{ foodIntroduce },
                        </if>
                        <if test="viewCount != null">
                            `view_count` = #{ viewCount },
                        </if>
                        <if test="createTime != null">
                            `create_time` = #{ createTime },
                        </if>
                        <if test="updateTime != null">
                            `update_time` = #{ updateTime },
                        </if>
                        <if test="isDeleted != null">
                            `is_deleted` = #{ isDeleted },
                        </if>
                        <if test="categoryId != null">
                            `category_id` = #{ categoryId },
                        </if>
        </set>
        WHERE `food_id` = #{foodId}
    </update>
    <select id="selectByLimit"
            parameterType="map"
            resultType="org.example.food_demo.module.entity.Food">
        SELECT * FROM food
        <where>
            AND is_deleted = 0
        </where>
        LIMIT #{offset}, #{limit}
    </select>
</mapper>
